[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
watchdog = "*"
jinja2 = "*"
cooklang = {ref = "28274b6d62f5c32a32282232aead4ae10f8d0350", git = "git+https://github.com/gardenrobot/py-cooklang.git"}

[dev-packages]

[requires]
python_version = "3.10"
